@font-face {
    font-family: 'FR73 Pixel';
    src: url('./fonts/FR73 Pixel W00 Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Karantina';
    src: url('./fonts/Karantina-Regular.ttf') format('truetype');
}

@keyframes titleApparition {
    from{
        opacity: 0;
        transform: translateY(100vh);
    } 
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

/* *
{
    margin: 0;
    padding: 0;
} */

body
{
    font-family: 'FR73 Pixel';
    overflow: hidden;
    overscroll-behavior: none;
    color: white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* Test slider part */

.n{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 10px;
    background-color: black;
}

.n1{
    top: 200px;
}
.n2{
    top: 300px;
}
.n3{
    top: 400px;
}
.n4{
    top: 500px;
}

#block{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
}

.circle{
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    z-index: 10000;
}

.section{
    position: relative;
    z-index: 10000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
}

.btm-wrapper-hero{
    position: absolute;
    left: 0%;
    bottom: 3%;
    right: 0%;
    z-index: 1000;
}

.text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container{
    
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 auto;
    width: 95vw;
    height: 100%;
}

.navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.logo-block{
    flex-shrink: 1;
    width: 9rem;
}

.navlink{
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 9rem;
}

.navlink a{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Karantina';
    color: white;
    text-decoration: none;
}

.tunner-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    margin-top: 2rem;
}

.tunner{
    /* min-height: 5rem; */
    width: 20rem;
}

#tunner-load{
    display: block;
}
#tunner-next{
    display: none;
}
#tunner-click{
    display: none;
}

.discover-block{
    width: 10rem;
}
#discover-load{
    display: block;
}
#discover-hover{
    display: none;
}


#tunner-box{
    position: absolute;
    top: -60%;
    font-family: 'Karantina';
    font-size: 3rem;
    transition: all 1s ease-out;
}

.content-wrapper{
    position: relative;
    /* bottom: 0;
    left: 0;
    top: 0;
    right: 0; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#title-period{
    position: absolute;
    bottom: 10%;
    left: 20%;
    text-transform: uppercase;
    font-family: 'Karantina';
    font-size: 7rem;
    line-height: 0.9;
    transition: all 500ms ease-out;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50vh);
}

#title-period.show{
    opacity: 1;
    transform: translateY(0vh);
}

.stroke-color path{
    stroke: #F00;
}

.music-block{
    width: 6rem;
}

#play{
    display: block;
}

#pause{
    display: none;
}

.star-container{
    width: 3rem;
}

